/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

/* FLEX UTILITIES */
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* LAYOUT */
.navbar,
.content {
  padding: 2rem 10rem;
}

.main {
  padding-bottom: 10px;
}

.attribution {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar,
.left,
.nav-items,
.displays,
.counter,
.cartSetters,
.discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  gap: 5rem;
}

.nav-items {
  gap: 3rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* NAV */
.nav-items li {
  list-style: none;
  cursor: pointer;
  color: hsl(219, 9%, 45%);
  font-size: 16px;
}

.cartIcon {
  font-size: 30px;
  color: hsl(219, 9%, 45%);
  cursor: pointer;
}

.avatar {
  width: 35%;
  cursor: pointer;
  border-radius: 50%;
}

.avatar:hover {
  border: 2px solid hsl(26, 100%, 55%);
}

.logoHolder,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* IMAGES */
.images,
.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.images {
  width: 50%;
  gap: 20px;
}

.imgContainer,
.displays {
  width: 70%;
}

.displays {
  gap: 20px;
}

.imgContainer img {
  width: 100%;
  margin: auto;
}

.images img,
.dispBtn {
  border-radius: 10px;
}

.dispBtn {
  border: none;
  cursor: pointer;
}

.dispBtn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dispBtn.active img {
  border: 3px solid hsl(26, 100%, 55%);
  background-color: white;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLeft {
  left: 36.5%;
  position: fixed;
}

.navRight {
  right: 36.5%;
  position: fixed;
}

.close {
  position: fixed;
  top: 10%;
  font-size: 30px;
  right: 36%;
  color: white;
  cursor: pointer;
  display: none;
  transition: color 0.3s ease-in-out;
}
.navRight,
.navLeft {
  display: block;
  font-size: 3rem;
  color: black;
  padding: 10px;
  background-color: WHITE;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.navLeft:hover,
.navRight:hover,
.close:hover {
  color: hsl(26, 100%, 55%);
}

.navLeft.show,
.navRight.show,
.close.show {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlayContent {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HERO */
.hero {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero h1 {
  width: 70%;
  font-size: 3rem;
}

.description {
  width: 65%;
  color: hsl(219, 9%, 45%);
  font-size: 14px;
  font-weight: 500;
}

/* PRICING */
.discount {
  width: 25%;
}

.discountedPrice {
  font-size: 2rem;
  font-weight: 700;
}

.discountPercent {
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 5px;
  font-weight: 500;
}

.originalPrice {
  margin-top: 10px;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
}

/* COUNTER AND CART ACTIONS */
.counter,
.cartBtn {
  border-radius: 5px;
}

.counter {
  background-color: hsl(220, 60%, 98%);
  padding: 10px;
  width: 50%;
  font-weight: 600;
}

.counter button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.countIcon {
  font-size: 20px;
  color: hsl(26, 100%, 55%);
}

.cartSetters {
  width: 60%;
  gap: 10px;
}

.cartBtn {
  width: 50%;
  padding: 12px 20px;
  background-color: hsl(26, 100%, 55%);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.cartBtn:hover,
.checkout:hover {
  opacity: 0.6;
}

/* CART */
.cart {
  position: absolute;
  top: 8rem;
  right: 10rem;
  width: 320px;
  height: 240px;
  background-color: white;
  box-shadow: 0 2px 6px hsl(220, 14%, 75%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.cartHead h3,
.check {
  padding: 15px 20px;
}

.empty {
  text-align: center;
  margin: auto;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 18%;
  border-radius: 5px;
}

.desc,
.check {
  display: flex;
  flex-direction: column;
}

.desc,
.prices {
  gap: 10px;
}

.prices {
  display: flex;
}

.check {
  gap: 2rem;
}

/* TEXT */
.title,
.pr,
h5 {
  color: hsl(219, 9%, 45%);
}

.title,
.pr,
.total {
  font-weight: 500;
}

/* CHECKOUT */
.checkout {
  padding: 10px 0;
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

/* ICONS */
.deleteIcon {
  font-size: 20px;
  color: hsl(219, 9%, 45%);
  cursor: pointer;
}

/* CART COUNT */
.countHolder {
  position: absolute;
  top: 2.2rem;
  right: 16.5rem;
  padding: 1px 8px;
  background-color: hsl(26, 100%, 55%);
  border-radius: 20px;
  font-size: 12px;
  color: white;
}

/* SIDEBAR */

.menu,
.closeIcon {
  font-size: 30px;
  color: hsl(219, 9%, 45%);
  display: none;
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 2rem;
  }

  .content {
    padding: 3rem;
    gap: 5rem;
  }

  .imgContainer,
  .displays,
  .cartSetters {
    width: 100%;
  }

  .description {
    width: 90%;
  }

  .discount {
    gap: 20px;
  }

  .close {
    top: 6%;
    right: 20rem;
  }

  .navLeft {
    left: 22rem;
  }

  .navRight {
    right: 22rem;
  }

  .countHolder {
    right: 8rem;
  }
}

@media screen and (max-width: 912px) {
  .content {
    flex-direction: column;
  }

  .imgContainer,
  .images,
  .hero {
    width: 100%;
  }

  .left {
    gap: 2rem;
  }

  .close {
    top: 15%;
    right: 8rem;
  }

  .navLeft {
    left: 7.5rem;
  }

  .navRight {
    right: 7.5rem;
  }

  .countHolder {
    right: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    background-color: white;
    box-shadow: 0 2px 6px hsl(219, 9%, 45%);
    height: 180vh;
    display: none;
    width: 300px;
    z-index: 3;
  }

  .sidebar.open,
  .navLeft,
  .navRight {
    display: block;
  }
  .nav-items,
  .content {
    flex-direction: column;
  }

  .price {
    flex-direction: row;
  }

  .menu,
  .closeIcon {
    display: block;
  }

  .images,
  .hero,
  .navigation,
  .navigation img,
  .imgContainer,
  .cartSetters,
  .description,
  .hero h1 {
    width: 100%;
  }

  .displays {
    display: none;
  }

  .content {
    padding: 0 0 4rem 0;
  }

  .navbar,
  .hero {
    padding: 2rem;
  }
  .overlay {
    display: none;
  }

  .navigation img {
    border-radius: 0;
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .countHolder {
    position: absolute;
    right: 8.5rem;
  }
  .cart {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 440px) {
  .cart {
    width: 350px;
  }
  .navbar {
    padding: 2rem 0.5rem;
  }

  .cartSetters {
    flex-direction: column;
  }

  .cartBtn,
  .counter {
    width: 100%;
  }

  .countHolder {
    right: 7rem;
  }
}
